html,
body
{
    position: relative;

    height: 100%;
    margin: 0;

    background-color: #f1f1f1;
}
header
{
    padding-left: 50px;

    background-color: #ee7419;
}
header span
{
    line-height: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;

    text-align: center;

    color: #ee7419;
    border-radius: 10px;
    background-color: #fff;
}
header h3
{
    display: inline-block;

    color: #fff;
}
header a
{
    display: inline-block;

    margin-left: 50px;

    text-decoration: none;

    color: #fff;
}
/*header结束*/


content
{
    display: block;
    overflow: hidden;

    width: 70%;
    min-height: 200px;
    margin: 80px auto 200px auto;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 5px grey;
}

#setTitle
{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;

    display: block;

    height: 40px;
    margin: 15px auto;

    cursor: pointer;

    border: 0;
}
#setTitle:hover
{
    background-color: #ffefd5;
}

#setTitle,
.questionBorder
{
    width: 90%;

    text-align: center;
}

.questionBorder
{
    margin: 0 auto;

    border-top: 2px rgba(98, 98, 98, .27) solid;
    border-bottom: 2px rgba(98, 98, 98, .27) solid;
}

/*问卷生成内容区域*/
#paperContent
{
    width: 90%;
    margin: 0 auto;
}
#paperContent .questionDetail
{
    width: 98%;
    margin-top: 20px;
    padding: 15px 10px 0 5px;
}

#paperContent .questionDetail:hover
{
    background-color: #ffefd5;
}

#paperContent .questionDetail p
{
    display: inline-block;

    width: 4%;
    min-height: 100px;
    margin: 0 10px 0 0;

    text-align: right;
    vertical-align: top;
}

#paperContent .questionDetail .detailRight
{
    display: inline-block;

    width: 94%;

    text-align: left;
}

#paperContent .questionDetail .detailRight textarea
{
    width: 400px;
    height: 150px;
}

#paperContent .questionDetail .detailRight div
{
    min-height: 30px;
}

#paperContent .questionDetail .detailRight div:nth-child(1)
{
    min-height: 40px;
}

#paperContent .questionDetail .detailRight div:last-child
{
    text-align: right;
}

#paperContent .questionDetail .detailRight div:last-child a
{
    margin-left: 8px;

    cursor: pointer;
    text-decoration: none;

    color: #626262;
}
#paperContent .questionDetail .detailRight div:last-child a:hover
{
    color: #ee7419;
}


/*生成工具*/
#questionType
{
    line-height: 50px;

    display: none;

    height: 50px;
}

#questionType button
{
    display: inline-block;

    width: 80px;
    height: 25px;
    margin-left: 20px;

    cursor: pointer;
    text-decoration: none;

    border: 1px rgba(98, 98, 98, .37) solid;
    border-radius: 2px;
    background-color: #f1f1f1;
}

.questionBorder .questionInclude
{
    width: 90%;
    margin: 20px auto;

    border: 1px rgba(98, 98, 98, .27) solid;
}

.questionBorder .questionInclude .questionColor
{
    background-color: #f1f1f1;
}
#addQuestion
{
    line-height: 60px;

    display: inline-block;

    height: 60px;

    cursor: pointer;
}
#addQuestion span:nth-child(1)
{
    font-size: 36px;

    vertical-align: middle;
}
.qusetionFoot
{
    line-height: 80px;

    height: 80px;

    text-align: center;
}
.qusetionFoot .setDeadline
{
    float: left;

    width: 50%;
}
.qusetionFoot .buttons
{
    float: right;

    width: 50%;
}

.qusetionFoot .buttons button
{
    font-size: 16px;

    width: 80px;
    height: 30px;
    margin-right: 5px;

    cursor: pointer;

    border: solid 1px #f1f1f1;
    border-radius: 10px;
    background-color: #fff;
}

.qusetionFoot .buttons button:hover
{
    background-color: #ee7419;
}
/*content结束*/


#shadow
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    background-color: rgba(0, 0, 0, .8);
}
#window
{
    position: fixed;

    width: 300px;
    height: 200px;

    text-align: center;

    border: solid 1px #f1f1f1;
    background-color: #fff;
}

#header
{
    width: 100%;
    height: 15%;
    padding-top: 5px;

    text-align: center;
}
.content
{
    display: -webkit-flex;
    display:         flex;

    width: 100%;
    height: 60%;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.bottom
{
    width: 100%;
    height: 25%;
}
.content input
{
    width: 200px;
    height: 30px;
}
.bottom button
{
    width: 80px;
    height: 30px;
}
#closeWindow,
.bottom button
{
    cursor: pointer;
}
#closeWindow
{
    float: right;
}
#closeWindow:hover
{
    color: #fff;
    background-color: grey;
}

/*弹出窗口结束*/


/*日历table*/
.calendarContainer
{
    height: 0;
}

.calendarContainer .calendarPosition
{
    position: absolute;

    margin-top: -25px;
    margin-left: 8%;
}

#head
{
    display: none;

    width: 260px;
    height: 25px;
    margin: 0 auto;

    text-align: center;

    color: #fff;
    background-color: #ee7419;
}
#head .headRight,
#head .headLeft,
#headContent
{
    line-height: 25px;

    height: 25px;
}
#head select
{
    height: 100%;

    cursor: pointer;
}
#table
{
    display: table;
    display: none;

    margin: 0 auto;

    border-collapse: collapse;

    vertical-align: middle;

    border: solid 1px #f1f1f1;
}

#table td,
th
{
    line-height: 30px;

    width: 35px;
    height: 30px;
}
#table td
{
    cursor: pointer;
    text-align: center;
}
#table thead
{
    font-size: 20px;

    margin-bottom: 10px;

    color: #fff;
    background: #ee7419;
}
#tbody
{
    background-color: #fff;
}
.headLeft
{
    float: left;

    width: 20%;
}
#headContent
{
    float: left;

    width: 60%;
}
.headRight
{
    float: right;

    width: 20%;
}
#head div span
{
    cursor: pointer;
}
.numberGrey
{
    color: #f1f1f1;
}
