html,
body
{
    position: relative;

    height: 100%;
    margin: 0;

    background-color: #f1f1f1;
}
button{
    white-space: nowrap;
    overflow: hidden;
}
header
{
    padding-left: 10%;

    background-color: #ee7419;
}
header span
{
    line-height: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;

    text-align: center;

    color: #ee7419;
    border-radius: 10px;
    background-color: #fff;
}
header h3
{
    display: inline-block;

    color: #fff;
}
header strong
{
    display: inline-block;

    margin-left: 5%;

    color: #fff;
}


#shadow
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    background-color: rgba(0, 0, 0, .8);
}
#window
{
    position: fixed;

    width: 300px;
    height: 200px;

    text-align: center;

    border: solid 1px #f1f1f1;
    background-color: #fff;
}

#header
{
    width: 100%;
    height: 15%;
    padding-top: 5px;

    text-align: center;
}
.content
{
    display: -webkit-flex;
    display:         flex;

    width: 100%;
    height: 60%;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.bottom
{
    width: 100%;
    height: 25%;
}
.content input
{
    width: 200px;
    height: 30px;
}
.bottom button
{
    width: 80px;
    height: 30px;
}
#closeWindow,
.bottom button
{
    cursor: pointer;
}
#closeWindow
{
    float: right;
}
#closeWindow:hover
{
    color: #fff;
    background-color: grey;
}


content
{
    width: 100%;
}
content table
{
    width: 75%;
    margin: 10% auto;

    border-collapse: collapse;
}
#tableBody
{
    text-align: center;

    background-color: #fff;
}
content table tfoot
{
    width: 100%;

    background-color: #fff;
}

content table tr
{
    line-height: 50px;

    height: 50px;

    border-bottom: solid 1px #efefef;
}
content table button,
#createQuestion
{
    font-size: 16px;

    width: 30%;
    height: 30px;
    margin-right: 5px;

    cursor: pointer;

    border: solid 1px #f1f1f1;
    border-radius: 10px;
    background-color: #fff;
}

#createQuestion
{
    line-height: 30px;

    display: inline-block;

    width: 90px;
    margin-left: 20px;

    text-decoration: none;

    color: #fff;
    border: 0;
    border-radius: 4px;
    background-color: #ee7419;
}

#deleteMore{
    max-width: 20%;
}

#tableBody tr td:nth-child(2)
{
    text-align: left;
}

#tableBody tr:hover
{
    background-color: #ffefd5;
}

#tableBody button:hover,
#deleteMore:hover
{
    background-color: #ee7419;
}

content table tfoot tr td:nth-child(1)
{
    text-align: center;
}
content table tfoot button
{
    margin-left: 30px;
}

content table tr th:nth-child(1)
{
    width: 5%;
}

content table tr th:nth-child(2)
{
    width: 25%;
}

content table tr th:nth-child(3)
{
    width: 25%;
}

content table tr th:nth-child(4)
{
    width: 10%;
}
content table tr th:nth-child(5)
{
    width: 40%;
}

.greenColor
{
    color: green;
}
